<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col [sizeMd]="6" [offsetMd]="3" class="logo-col">
                <ion-img src="assets/images/logo.png" class="logo"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col [sizeMd]="6" [offsetMd]="3">
                <ion-button [routerLink]="'/login'" size="large" class="card-text">Login as Donor</ion-button>
                <ion-button [routerLink]="'/request-form'" size="large" class="card-text">Request for Blood</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>