<div class="ion-page">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title color="light">Login</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="padding">
        <ion-grid>
            <ion-row>
                <ion-col [sizeMd]="6" [offsetMd]="3" class="logo-col">
                    <ion-img src="assets/images/logo.png" class="logo"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col [sizeMd]="6" [offsetMd]="3">
                    <ion-card color="tertiary">
                        <form [formGroup]="loginForm" (ngSubmit)="loginClick()">
                            <ion-item color="tertiary">
                                <ion-label position="floating" color="primary">Email</ion-label>
                                <ion-input type="email" formControlName="email" autocomplete="off"></ion-input>
                            </ion-item>
                            <div class="required-error" *ngIf="email.touched && loginForm.hasError('required', 'email')">
                                Email is required.
                            </div>
                            <ion-item color="tertiary">
                                <ion-label position="floating" color="primary">Password</ion-label>
                                <ion-input type="Password" formControlName="password" autocomplete="off"></ion-input>
                            </ion-item>
                            <div class="required-error" *ngIf="password.touched && loginForm.hasError('required', 'password')">
                                Password is required.
                            </div>
                            <br/>
                            <ion-label class="forgot-pass-label" [routerLink]="'/forgot-password'" color="primary">
                                Forgot password?
                            </ion-label>

                            <div class="login-button-container">
                                <ion-button color="primary" expand="block" type="submit" class="login-button" [disabled]="!loginForm.valid">Login</ion-button>
                            </div>
                        </form>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col [sizeMd]="6" [offsetMd]="3" class="register-col">
                    <ion-label class="register-label" color="primary">
                        Don't have an account? <a  class="register-span" [routerLink]="'/register'">Register Now.</a>
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
</div>
