.active-item {
    border-left: 8px solid var(--ion-color-primary);
}

.avatar {
    position: relative;
    display: flex;
    left: 1em;
    top: 3%;
    margin-top: 38px;
}

.avatar-name-label {
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
}

.avatar-name-icon {
    left: 5px;
    position: relative;
    top: 2px;
}

.button-list {
    // margin-top: 12%;
}

.split-pane-visible > ion-menu {
  max-width: 20rem !important;
}

.list-style {
    padding-top: 0px;
    padding-bottom: 0px;
}