.donor-information {
    margin-top: 2rem;
    // width: 100rem;
}

.row-data {
    min-width: 0px;
    border-bottom: 0.5px solid var(--ion-color-primary-tint-extra);
}

.column-data {
    border-bottom: 1.5px solid var(--ion-color-primary);
}