<div class="ion-page">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title color="light">Profile</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-grid>
            <!-- <ion-button color="primary" style="margin-left: 15px; margin-top: 10px;" (click)="setReminderClick()">Set Reminder
                <ion-icon color="light" class="icon-style" name="alarm-outline"></ion-icon>
            </ion-button> -->
            <ion-row>
                <ion-col [sizeMd]="6" [offsetMd]="0">
                    <ion-card color="tertiary">
                        <ion-list style="background-color: var(--ion-color-tertiary);">
                            <ng-container *ngIf="!isEdit">
                                <ion-item color="tertiary">
                                    <ion-label color="primary" position="stacked" color="primary">Profile Picture</ion-label>
                                    <ion-thumbnail>
                                        <img *ngIf="currentDonorProfile?.profilePicture" src="{{currentDonorProfile?.profilePicture}}" alt="profile-picture">
                                    </ion-thumbnail>
                                </ion-item>
                                <ion-item color="tertiary">
                                    <ion-label color="primary" position="stacked">First Name: </ion-label>
                                    <span>{{currentDonorProfile?.firstname}}</span>
                                </ion-item>
                                <ion-item color="tertiary">
                                    <ion-label color="primary" position="stacked">Surname: </ion-label>
                                    <span>{{currentDonorProfile?.surname}}</span>
                                </ion-item>
                                <ion-item color="tertiary">
                                    <ion-label color="primary" position="stacked">Blood Bank Donor ID: </ion-label>
                                    <span>{{currentDonorProfile?.bloodBankDonorId}}</span>
                                </ion-item>
                                <ion-item color="tertiary">
                                    <ion-label color="primary" position="stacked">Blood Group: </ion-label>
                                    <span>{{currentDonorProfile?.bloodGroup}}</span>
                                </ion-item>
                                <ion-item color="tertiary">
                                    <ion-label color="primary" position="stacked">Age: </ion-label>
                                    <span>{{currentDonorProfile?.age}}</span>
                                </ion-item>
                                <ion-item color="tertiary">
                                    <ion-label color="primary" position="stacked">Mobile Number: </ion-label>
                                    <span>{{currentDonorProfile?.mobileNumber}}</span>
                                </ion-item>
                                <ion-item color="tertiary">
                                    <ion-label color="primary" position="stacked">City: </ion-label>
                                    <span>{{currentDonorProfile?.city}}</span>
                                </ion-item>
                                <ion-item color="tertiary">
                                    <ion-label color="primary" style="font-size: 15px;">Selected Location</ion-label>
                                </ion-item>
                                <app-map [readonly]="true" [currentLocation]="currentCoordinates" (locationChange)="locationOnChange($event)"></app-map>
                                <ion-item color="tertiary">
                                    <ion-label color="primary" position="stacked">NIC Number: </ion-label>
                                    <span>{{currentDonorProfile?.nicNumber}}</span>
                                </ion-item>
                                <ion-item color="tertiary">
                                    <ion-label color="primary" position="stacked">Email Address: </ion-label>
                                    <span>{{currentDonorProfile?.emailAddress}}</span>
                                </ion-item>
                                <ion-item color="tertiary">
                                    <ion-label position="stacked" color="primary">Your Previous Donation Date</ion-label>
                                    <ion-datetime value="{{currentDonorProfile?.previousDonationDate}}" display-timezone="utc" readonly="true"></ion-datetime>
                                </ion-item>
                                <ion-item color="tertiary">
                                    <ion-label position="stacked" color="primary">You Next Donation Date</ion-label>
                                    <ion-datetime value="{{currentDonorProfile?.nextDonationDate}}" display-timezone="utc" readonly="true"></ion-datetime>
                                </ion-item>
                                <div class="submit-button-container">
                                    <ion-button color="primary" class="edit-button" (click)="editClick()">
                                        Edit</ion-button>
                                </div>
                            </ng-container>
                            <form *ngIf="isEdit" [formGroup]="profileForm" (ngSubmit)="submitClick()">
                                <ion-item color="tertiary">
                                    <ion-label position="stacked" color="primary">Profile Picture</ion-label>
                                    <ion-input type="file" accept="*.png.jpg" style="font-size: 13px;" (change)="onImageChange($event)"></ion-input>
                                    <ion-thumbnail>
                                        <img *ngIf="imageToShow || currentDonorProfile?.profilePicture" src="{{imageToShow || currentDonorProfile?.profilePicture}}" alt="profile-picture">
                                    </ion-thumbnail>
                                </ion-item>
                                <ion-item color="tertiary">
                                    <ion-label position="stacked">First Name: </ion-label>
                                    <ion-input type="text" formControlName="firstName"></ion-input>
                                </ion-item>
                                <div class="required-error" *ngIf="isEdit && firstName.touched && profileForm.hasError('required', 'firstName')">
                                    First Name is required.
                                </div>
                                <ion-item color="tertiary">
                                    <ion-label position="stacked">Surname: </ion-label>
                                    <ion-input type="text" formControlName="surname"></ion-input>
                                </ion-item>
                                <div class="required-error" *ngIf="isEdit && surname.touched && profileForm.hasError('required', 'surname')">
                                    Surname is required.
                                </div>
                                <ion-item color="tertiary">
                                    <ion-label position="stacked">Blood Bank Donor ID: </ion-label>
                                    <ion-input type="text" formControlName="donorId"></ion-input>
                                </ion-item>
                                <div class="required-error" *ngIf="isEdit && donorId.touched && profileForm.hasError('required', 'donorId')">
                                    Donor ID is required.
                                </div>
                                <ion-item color="tertiary">
                                    <ion-label>Blood Group</ion-label>
                                    <ion-select placeholder="Select One" formControlName="bloodGroup">
                                        <ion-select-option value="A+">A+</ion-select-option>
                                        <ion-select-option value="A-">A-</ion-select-option>
                                        <ion-select-option value="A1+">A1+</ion-select-option>
                                        <ion-select-option value="A1-">A1-</ion-select-option>
                                        <ion-select-option value="A1B+">A1B+</ion-select-option>
                                        <ion-select-option value="A1B-">A1B-</ion-select-option>
                                        <ion-select-option value="A2+">A2+</ion-select-option>
                                        <ion-select-option value="A2-">A2-</ion-select-option>
                                        <ion-select-option value="A2B+">A2B+</ion-select-option>
                                        <ion-select-option value="A2B-">A2B-</ion-select-option>
                                        <ion-select-option value="AB+">AB+</ion-select-option>
                                        <ion-select-option value="AB-">AB-</ion-select-option>
                                        <ion-select-option value="B+">B+</ion-select-option>
                                        <ion-select-option value="B-">B-</ion-select-option>
                                        <ion-select-option value="INRA">INRA</ion-select-option>
                                        <ion-select-option value="O+">O+</ion-select-option>
                                        <ion-select-option value="O-">O-</ion-select-option>
                                    </ion-select>
                                </ion-item>
                                <div class="required-error" *ngIf="isEdit && bloodGroup.touched && profileForm.hasError('required', 'bloodGroup')">
                                    Blood Group is required.
                                </div>
                                <ion-item color="tertiary">
                                    <ion-label position="stacked">Age: </ion-label>
                                    <ion-input type="number" formControlName="age"></ion-input>
                                </ion-item>
                                <div class="required-error" *ngIf="isEdit && age.touched && profileForm.hasError('required', 'age')">
                                    Age is required.
                                </div>
                                <ion-item color="tertiary">
                                    <ion-label position="stacked">Mobile Number: </ion-label>
                                    <ion-input type="number" formControlName="mobileNumber"></ion-input>
                                </ion-item>
                                <div class="required-error" *ngIf="isEdit && mobileNumber.touched && profileForm.hasError('required', 'mobileNumber')">
                                    Mobile Number is required.
                                </div>
                                <ion-item color="tertiary">
                                    <ion-label position="floating" color="primary">City</ion-label>
                                    <ion-input type="text" formControlName="city"></ion-input>
                                </ion-item>
                                <div class="required-error" *ngIf="city.touched && profileForm.hasError('required', 'city')">
                                    City is required.
                                </div>
                                <ion-item color="tertiary">
                                    <ion-label style="font-size: 15px;">Select Your Location</ion-label>
                                </ion-item>
                                <app-map [readonly]="false" [currentLocation]="currentCoordinates" (locationChange)="locationOnChange($event)"></app-map>
                                <ion-item color="tertiary">
                                    <ion-label position="stacked">NIC Number: </ion-label>
                                    <ion-input type="text" formControlName="nicNumber"></ion-input>
                                </ion-item>
                                <div class="required-error" *ngIf="nicNumber.touched && profileForm.hasError('required', 'nicNumber')">
                                    NIC Number is required.
                                </div>
                                <ion-item color="tertiary">
                                    <ion-label position="stacked">Email Address: </ion-label>
                                    <ion-input type="email" formControlName="emailAddress"></ion-input>
                                </ion-item>
                                <div class="required-error" *ngIf="emailAddress.touched && profileForm.hasError('required', 'emailAddress')">
                                    Email Address is required.
                                </div>
                                <ion-item color="tertiary">
                                    <ion-label position="stacked" color="primary">You Next Donation Date</ion-label>
                                    <ion-datetime value="{{nextDonationDate || currentDonorProfile?.nextDonationDate}}" display-timezone="utc" (ionChange)="nextDonationDateChange($event)"></ion-datetime>
                                </ion-item>

                                <div class="submit-button-container" color="tertiary">
                                    <ion-button color="primary" type="submit" class="submit-button" [disabled]="disableSubmit()">
                                        Submit</ion-button>
                                    <ion-button color="danger" class="submit-button" (click)="resetClick()">
                                        Reset</ion-button>
                                </div>
                            </form>
                        </ion-list>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
</div>
