.edit-button {
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.submit-button {
    margin-left: 15px;
    margin-right: 8px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.icon-style {
    margin-left: 10px;
    font-size: 25px;
}