<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="light">Requested Donors</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none" style="background-color: transparent;">
    <div style="display: flex; align-items: center;">
        <ion-toggle [(ngModel)]="showAll" color="primary"></ion-toggle>
        <ion-label>Show all donors</ion-label>
    </div>
    <div style="display: flex; align-items: center;">
        <ion-toggle [(ngModel)]="sortByLocation" color="secondary"></ion-toggle>
        <ion-label>Sort by location</ion-label>
    </div>
        <ion-card *ngFor="let donor of finalDonorList" detail="true" (click)="viewDonor(donor.uid)" style="cursor: pointer;" color="tertiary">
            <ion-item background="transparent" color="tertiary">
                    <ion-label class="ion-text-wrap" color="primary">
                        <h3>{{ donor.firstname }}</h3>
                        <p>{{ donor.bloodGroup }}</p>
                    </ion-label>
                    <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </ion-card>
    </ion-list>
</ion-content>

<!-- for adding ripple effect, but doesn't work on the card apparently -->
<!-- class="ion-activatable ripple-div" -->
<!-- <ion-ripple-effect></ion-ripple-effect> -->