<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col [sizeMd]="6" [offsetMd]="3" class="logo-col">
                <ion-img src="assets/images/logo.png" class="logo"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col [sizeMd]="6" [offsetMd]="3">
                <ion-card>
                    <form [formGroup]="registerForm" (ngSubmit)="registerClick()">
                        <!-- <ion-item>
                            <ion-label position="floating">Username</ion-label>
                            <ion-input type="text" formControlName="username"></ion-input>
                        </ion-item>
                        <div class="required-error" *ngIf="username.touched && registerForm.hasError('required', 'username')">
                            Username is required.
                        </div> -->
                        <ion-item>
                            <ion-label position="floating">First Name</ion-label>
                            <ion-input type="text" formControlName="firstName"></ion-input>
                        </ion-item>
                        <div class="required-error" *ngIf="firstName.touched && registerForm.hasError('required', 'firstName')">
                            First Name is required.
                        </div>
                        <ion-item>
                            <ion-label position="floating">Surname</ion-label>
                            <ion-input type="text" formControlName="surname"></ion-input>
                        </ion-item>
                        <div class="required-error" *ngIf="surname.touched && registerForm.hasError('required', 'surname')">
                            Surname is required.
                        </div>
                        <ion-item>
                            <ion-label position="floating">Blood Bank Donor ID</ion-label>
                            <ion-input type="text" formControlName="donorId"></ion-input>
                        </ion-item>
                        <div class="required-error" *ngIf="donorId.touched && registerForm.hasError('required', 'donorId')">
                            Donor ID is required.
                        </div>
                        <ion-item>
                            <ion-label>Blood Group</ion-label>
                            <ion-select placeholder="Select One" formControlName="bloodGroup">
                                <ion-select-option value="A+">A+</ion-select-option>
                                <ion-select-option value="A-">A-</ion-select-option>
                                <ion-select-option value="A1+">A1+</ion-select-option>
                                <ion-select-option value="A1-">A1-</ion-select-option>
                                <ion-select-option value="A1B+">A1B+</ion-select-option>
                                <ion-select-option value="A1B-">A1B-</ion-select-option>
                                <ion-select-option value="A2+">A2+</ion-select-option>
                                <ion-select-option value="A2-">A2-</ion-select-option>
                                <ion-select-option value="A2B+">A2B+</ion-select-option>
                                <ion-select-option value="A2B-">A2B-</ion-select-option>
                                <ion-select-option value="AB+">AB+</ion-select-option>
                                <ion-select-option value="AB-">AB-</ion-select-option>
                                <ion-select-option value="B+">B+</ion-select-option>
                                <ion-select-option value="B-">B-</ion-select-option>
                                <ion-select-option value="INRA">INRA</ion-select-option>
                                <ion-select-option value="O+">O+</ion-select-option>
                                <ion-select-option value="O-">O-</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <div class="required-error" *ngIf="bloodGroup.touched && registerForm.hasError('required', 'bloodGroup')">
                            Blood Group is required.
                        </div>
                        <ion-item>
                            <ion-label position="floating">Age</ion-label>
                            <ion-input type="number" formControlName="age"></ion-input>
                        </ion-item>
                        <div class="required-error" *ngIf="age.touched && registerForm.hasError('required', 'age')">
                            Age is required.
                        </div>
                        <ion-item>
                            <ion-label position="floating">Mobile Number</ion-label>
                            <ion-input type="number" formControlName="mobileNumber"></ion-input>
                        </ion-item>
                        <div class="required-error" *ngIf="mobileNumber.touched && registerForm.hasError('required', 'mobileNumber')">
                            Mobile Number is required.
                        </div>
                        <ion-item>
                            <ion-label position="stacked">Address</ion-label>
                            <ion-input placeholder="Address Line 1" type="text" formControlName="addressLine1" autocomplete="none" ></ion-input>
                            <ion-input placeholder="Address Line 2" type="text" formControlName="addressLine2" autocomplete="none"></ion-input>
                            <ion-input placeholder="City" type="text" formControlName="city" autocomplete="none"></ion-input>
                            <ion-input placeholder="Province" type="text" formControlName="province" autocomplete="none"></ion-input>
                        </ion-item>
                        <div
                            class="required-error"
                            *ngIf="(addressLine1.touched && registerForm.hasError('required', 'addressLine1')) ||
                            (addressLine2.touched && registerForm.hasError('required', 'addressLine2')) ||
                            (city.touched && registerForm.hasError('required', 'city')) ||
                            (province.touched && registerForm.hasError('required', 'province'))"
                            >
                                Complete address is required.
                        </div>
                        <ion-item>
                            <ion-label position="floating">NIC Number</ion-label>
                            <ion-input type="text" formControlName="nicNumber"></ion-input>
                        </ion-item>
                        <div class="required-error" *ngIf="nicNumber.touched && registerForm.hasError('required', 'nicNumber')">
                            NIC Number is required.
                        </div>
                        <ion-item>
                            <ion-label position="floating">Email Address</ion-label>
                            <ion-input type="email" formControlName="emailAddress"></ion-input>
                        </ion-item>
                        <div class="required-error" *ngIf="emailAddress.touched && registerForm.hasError('required', 'emailAddress')">
                            Email Address is required.
                        </div>
                        <ion-item>
                            <ion-label position="floating">Password</ion-label>
                            <ion-input type="password" formControlName="password"></ion-input>
                        </ion-item>
                        <div class="required-error" *ngIf="password.touched && registerForm.hasError('required', 'password')">
                            Password is required.
                        </div>
                        <ion-item>
                            <ion-label position="floating">Re-Enter Password</ion-label>
                            <ion-input type="password" formControlName="reEnterPassword"></ion-input>
                        </ion-item>
                        <div class="required-error" *ngIf="reEnterPassword.touched && registerForm.hasError('required', 'reEnterPassword')">
                            Re-Enter Password is required.
                        </div>
                        <div class="required-error" *ngIf="confirmPassword()">
                            Two passwords doesn't match.
                        </div>

                        <div class="submit-button-container">
                            <ion-button color="secondary" expand="block"class="submit-button"
                                [routerLink]="'/login'">Sign-In</ion-button>
                            <ion-button color="primary" expand="block" type="submit" class="submit-button"
                                [disabled]="!registerForm.valid">Submit</ion-button>
                        </div>
                    </form>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
